<h2>Leave a Comment</h2>
<form>
	<div class="input-field">
		<label class="input-label">Comment</label>
		<textarea class="input-textarea"></textarea>
	</div>
	<div class="input-field">
		<label class="input-label">Name*</label>
		<input class="input-text" type="text" placeholder="Name">
	</div>
	<div class="input-field">
		<label class="input-label">Email*</label>
		<input class="input-email" type="email" placeholder="Email">
	</div>
	<div class="input-field">
		<input class="input-submit" type="submit" value="Post Comment">
	</div>
</form>