<div class="abs">
	<div class="content">
		<h2>Categories</h2>
		<ul class="menu__ul">
			<li class="menu__li"
			*ngFor="let category of categories">
				<a class="menu__a" [routerLink]="['/categories', category.id]" [innerHtml]="category.name"></a>
			</li>
		</ul>
		<!-- <h2>Authors</h2>
		<ul class="menu__ul">
			<li class="menu__li"
			*ngFor="let author of authors">
				<a class="menu__a" [routerLink]="['/authors', author.id]">{{ author.name }}</a>
			</li>
		</ul> -->
		<h2>Recent Posts</h2>
		<post
		*ngFor="let post of posts"
		[post]="post">
		</post>
	</div>
</div>