<div class="abs">
	<div class="content">
		<h2>Categories</h2>
		<ul class="menu__ul">
			<li class="menu__li">
				<a class="menu__a" [routerLink]="['category']">Work</a>
			</li>
			<li class="menu__li">
				<a class="menu__a" [routerLink]="['category']">Work</a>
			</li>
			<li class="menu__li">
				<a class="menu__a" [routerLink]="['category']">Work</a>
			</li>
		</ul>
		<h2>Recent Posts</h2>
		<div class="card">
			<h1>
				<a href="single">Post Title: Important</a>
			</h1>
			<p>
				<span class="post-category">Post Category &nbsp; | &nbsp; </span>
				<span class="post-author">Author Name &nbsp; | &nbsp; </span>
				<span class="post-date">December 30, 2016</span>
			</p>
		</div>
	</div>
</div>